<div id="profile-songs">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="70%">Song Title</th>
            <th width="10%">Plays</th>
            <th width="20%">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "Song Name", root_path %></td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Song Name", root_path %></td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Song Name", root_path %></td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>
        </tbody>
      </table>

</div>