<%= provide(:title, 'Edit Song') %>
<div class="row">
  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Album Dashboard", album_dashboard_url %>
        <span class="divider">/</span>
      </li>
      <li>
        <%= link_to "#{@album.title}", album_songs_path(@album) %>
        <span class="divider">/</span>
      </li>
      <li class="active">Editing <%= @song.title %></li>
    </ul>

    <div class="well">

      <%= render 'edit_form' %>

    </div>
  </div>
</div>
