<div class="row" style="display:none;">
  <div class="span12">
    <div class="monster">
      <h1>Welcome to Mozapolis</h1>

      <p>We're about to change the music industry forever, but for now we're in stealth mode. </p>
      <section>
        <div class="progress progress-striped progress-warning active">
          <div class="bar" style="width: 40%;"></div>
        </div>
      </section>
      <p>We're getting close! <a class="btn btn-large btn-primary">Learn More</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div id="top-artist" class="span12">
    <h2 class="hb"><i class="icon-star"></i> Top Artists</h2>
      <ul class="thumbnails">

        <% @top_artists.each do |a| %>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag a.profile_image.url(:medium) %>
            <h5><%= link_to a.artist_name, a %></h5>

            <p><%= strip_tags(truncate(a.about, :length => 25, :separator => ' ')) %></p>

            <div class="btn-group">
              <%= link_to "<i class='icon-user'></i> Profile".html_safe, a, :class => "btn btn-mini btn-danger" %>
            </div>
          </div>
        </li>
        <% end %>


      </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="span5">
    <h2 class="hb"><i class="icon-user"></i> Listen and follow your favorite artists! </h2>
    <ul class="thumbnails">
      <li class="span5">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/760x280" alt="">
        </a>
      </li>
    </ul>
    <p>The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers, like
      powdered charcoal, to the sole and sides of my boots. I only go in a small fraction of an inch, maybe an eighth of
      an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles. There seems to be
      no difficult in moving around, as we suspected.</p>
    <ul>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
      <li class="icon-ok">That's one small step for [a] man; one giant leap for mankind.</li>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
    </ul>
    <p>
      <a href="#" class="btn btn-success"><i class="icon-user"></i> Fan Signup!</a>
      Fan signup for free. What are you waiting for?
    </p>
    <hr>

    <h2 class="hb"><i class="icon-user"></i> Are you an artist or musican? </h2>
    <ul class="thumbnails">
      <li class="span5">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/760x280" alt="">
        </a>
      </li>
    </ul>
    <p>The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers, like
      powdered charcoal, to the sole and sides of my boots. I only go in a small fraction of an inch, maybe an eighth of
      an inch, but I can see the footprints of my boots and the treads in the fine, sandy particles. There seems to be
      no difficult in moving around, as we suspected.</p>
    <ul>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
      <li class="icon-ok">That's one small step for [a] man; one giant leap for mankind.</li>
      <li class="icon-ok">A good rule for rocket experimenters to follow is this: always assume that it will explode.
      </li>
    </ul>
    <p>
      <a href="#" class="btn btn-danger"><i class="icon-headphones"></i> Learn More</a>
      Artist signups are in beta!
    </p>

  </div>
  <div class="span4">
    <h2 class="hb"><i class="icon-music"></i> Popular Songs</h2>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Track</th>
          <th>Plays</th>
        </tr>
        </thead>
        <tbody>
          <% @pop_songs.each do |s| %>

          <tr>
            <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-play"></i></a> <%= link_to s.title, s.album %> 

            </td>
            <td>3,432</td>
          </tr>
          <% end %>

        </tbody>
      </table>

      <h2 class="hb"><i class="icon-th-large"></i> Newest Albums</h2>
      <ul class="thumbnails">
        <% @new_albums.each do |a| %>
        <li class="span2">
          <%= link_to image_tag(a.artwork.url(:medium)), a, :class => 'thumbnail', :rel => 'popover', :title => a.user.artist_name, :data => { :placement => 'top', :content => "<h4 class='hb'>#{a.title}</h4> <p>#{a.label}, #{a.year}</p>".html_safe } %>
        </li>
        <% end %>

      </ul>


  </div>
  <div class="span3">
    <h2 class="hb"><i class="icon-flag"></i> Contests</h2>

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Contest</th>
          <th>Days Left</th>
        </tr>
        </thead>
        <tbody>
          <% @new_events.each do |event| %>
          <tr>
            <td><%= link_to event.title, event %></td>
            <td>3,432</td>
          </tr>
          <% end %>

        </tbody>
      </table>

      <h6>Advertisement</h6>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/600x250" alt="">
          </a>
        </li>
      </ul>
  </div>
</div>
