<%= provide(:title, 'Listening to #{artist.artist_name} | #{album.title}') %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <%= link_to @artist.artist_name, @artist %>
        <span class="divider">/</span>
      </li>

      <li class="active">Listening to <%= @album.title %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span4">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <%= image_tag @album.artwork.url(:medium) %>
          <h2><%= @artist.artist_name %></h2>

          <h3>"<%= @album.title %>"</h3>
          <h4><%= @artist.city %>, <%= @artist.state %></h4>

        </div>
      </li>
    </ul>
  </div>
  <div class="span8">
    <h1 class="hb">Album: <%= @album.title %></h1>

    <%= render 'shared/player' %>
    <%= render 'shared/playlist' %>

    <div class="well" id="comments">
      <h6 class="hb">Comments</h6>
      <%= render "comments/comments" %>
      <h6 class="hb">Write your own comment</h6>
      <%= render "comments/form" %>
    </div>



  </div>
</div>